h1 {
    color: white;
    padding: 10px;
}

#currentCity{
    border: solid;
    border-width: 5px;
    border-color: black;
    padding: 5px;
    margin: 5px;
}

#forecast {
    padding: 5px;
    margin: 5px;
}

.hide {
    display: none;
}

.btn-info{
    margin: 2.5px;
}